on:
  workflow_dispatch:
name: Update Addons
jobs:
  update-addons:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: true
          fetch-depth: 0
      - run: |
          git submodule update --remote --merge --force repo/plugin.video.haru
          python3 _repo_generator.py
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update addons"
