on:
  workflow_dispatch:
name: Update Addons
jobs:
  update-addons:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: true
          fetch-depth: 0
      - run: |
          git submodule update --remote --merge --force repo/plugin.video.haru
          python3 _repo_generator.py
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update addons"
