on:
  workflow_dispatch:
name: Update Addons
jobs:
  update-addons:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: true
          fetch-depth: 0
      - run: |
          git submodule update --remote --merge --force repo/plugin.video.haru
          python3 _repo_generator.py
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update addons"
